.about-container {
    /* background-color: rgb(237, 247, 248); */
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(237, 247, 248);
}

.about-left {

}

.about-left h2 {
    font-size: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 25px;
}

.about-left span {
    color: #0077ff;
    font-family: cursive;
}

.about-right {
    height: 75%;
    width: 33%;
    background:linear-gradient(86deg,#E7F3FF 1.71%,#FFF8DF 99.56%);
    border-radius: 25px;
}

.about-right img {
    margin: 45px auto 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.about-left-button {
    display: flex;
    gap: 10px;
}

.about-left button {
    all:unset;
    padding: 16px 20px;
    width: 92px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #0077ff;
    color:white;
    border: #3f93f3;
    margin-top: 32px;
}

.about-left .know-button {
    background-color: inherit;
    color: #84baf0;
}

.about-left .know-button:hover {
    background-color: #ADD8E6;
    color: white;
}

.about-left .host-button:hover {
    background-color: #3f93f3;
}

.host-button{
    text-align: center;
}


@media (max-width: 768px) {
    .about-container {
      flex-direction: column; /* Stack elements vertically on smaller screens */
      height: auto; /* Auto height */
      padding: 20px; /* Add padding for better spacing */
      margin-top: 30px;
    }
  
    .about-left,
    .about-right {
      width: 100%; /* Make both sections full width on smaller screens */
      text-align: center; /* Center align text */
    }
  
    .about-right {
      height: auto; /* Auto height */
      margin-top: 20px; /* Add some spacing between left and right sections */
      border-radius: 0; /* Remove border radius */
    }
  
    .about-right img {
      max-width: 80%; /* Adjust image width */
      max-height: 300px; /* Set maximum image height */
      margin: 10px auto; /* Center align image */
    }
  
    .about-left h2 {
      font-size: 30px; /* Decrease font size for smaller screens */
      margin-bottom: 15px; /* Adjust margin */
    }
  
    .about-left p {
      padding: 0 10px; /* Add padding for better spacing */
      margin-bottom: 15px;
    }
  
    .about-left-button {
      flex-direction: column; /* Stack buttons vertically */
      gap: 15px; /* Add some spacing between buttons */
    }
  
    .about-left button {
      width: 100%; /* Make buttons full width */
    }
  }
  

  @media (max-width: 768px) {
    .about-left-button {
      flex-direction: column; /* Stack buttons vertically */
      gap: 15px; /* Add some spacing between buttons */
    }
  
    .about-left button {
      width: 100%; /* Make buttons full width */
      max-width: 200px; /* Set maximum width for buttons */
      margin: 0 auto; /* Center align buttons */
    }
  }