.footer-container {
    height: 60vh;
    display: flex;
    background-color: #0056b3;
}

.footer-left-section {
    width: 25%;
    padding: 28px;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
}

.footer-left-heading {
    color: azure;
    font-size: 32px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-left-p {
    color: azure;
    text-align: center;
}

.footer-left-hr {
    margin-top: 10px;
}

.footer-right-section {
    width: 75%;
    padding: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.footer-right-links {
    width: calc(33.33% - 20px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: grey;
    text-align: center;
}

.footer-right-subHeading {
    font-size: 24px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-right-link {
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    gap: 10px;
}

.subscribe-button {
    all:unset;
    width: 120px;
    padding: 16px 20px;
    color: white;
    background-color: inherit;
    margin-left: 40px;
    border-radius: 25px;
}

.subscribe-button:hover{
    background-color: #ADD8E6;
    color: #0056b3;
}

.footer-form-container {
    align-items: center;
    margin: 10px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 6px;
}

.footer-form-inputs {
    width: 225px;
    margin: 20px 0;
    padding: 8px;
    border-radius: 12px;
    border: #0056b3;
}

.footer-form-heading {
    text-align: center;
    font-size: 22px;
}

.footer-form-p {
    color: lightgrey;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 768px) {
    .footer-container {
      flex-direction: column; /* Stack elements vertically on smaller screens */
      height: auto; /* Auto height */
      overflow: hidden;
    }
  
    .footer-left-section,
    .footer-right-section {
      width: 90%; /* Make both sections full width on smaller screens */
      border: none; /* Remove border between sections */
      padding: 20px; /*Adjust padding */
      text-align: center; /* Center align text */
    }
  
    .footer-right-links {
      width: calc(50% - 20px); /* Make each column 50% width with some spacing between */
      margin: 0 auto; /* Center align footer links */
    }
  
    .subscribe-button {
      margin: 10px auto; /* Center align subscribe button */
    }
  
    .footer-form-inputs {
      width: 100%; /* Make form inputs full width on smaller screens */
    }
  }
  